.main-nav {
  $transition-time-on: .1s;
  $transition-time-off: .8s;
  $western-header-height: 1px;

  @include breakpoint($display-large) {
    float: none;
    margin: 0 auto;
    padding: 0 0 0 10px;
    overflow: visible;
  }

  .menu {
    @include breakpoint($display-large) {
      box-sizing: border-box;
      overflow-y: visible;

    }

    .menu__item {
      @include breakpoint($display-large) {
        background: #fff;
        border: 0;
        padding: 0 0 0 0;
        position: relative;

      }
    }

    .menu__item:hover,
    .menu__item:focus {
      @include breakpoint($display-large) {
        background: transparent;
      }
    }

    .menu__link {
      @include breakpoint($display-large) {
        color: $wwu-blue;
        font-family: $sans-serif;
        font-weight: $bold;
        padding: .5em 0;
      }
    }

    .menu__link,
    .active .menu__link.active {
      transition: $transition-time-on;

      &:hover,
      &:focus {
        @include breakpoint($display-large) {
          background: $wwu-blue;
          color: #fff;
        }
      }
    }

    .wwu-dropdown-opened {
      .menu__link,
      .menu__link.active {
        background: $wwu-blue;
        color: #fff;
      }
    }

    .wwu-dropdown-opening {
      .menu__link,
      &.active .menu__link {
        transition: $transition-time-on;
      }
    }

    .wwu-dropdown-closing {
      .menu__link,
      &.active .menu__link {
        transition: $transition-time-off;
      }
    }

    .expanded > .menu__link::after {
      @include breakpoint($display-large) {
        @include transform(rotate(90deg));
        color: #e9e9e9;
        content: '\203A';
        display: block;
        font-size: 150%;
        line-height: 1;
      }
    }

    .expanded > .menu__link.active::after {
      color: #fff;
    }
  }

  .menu .menu {
    @include breakpoint($display-large) {
      background: $wwu-blue;
      font-size: 90%;
      min-width: 21em;
      max-width: 21em;
      padding: 0.5em 1em 1em;
      position: absolute;
      text-align: left;
      top: 100%;
      width: auto;
      z-index: 2;
    }

    .menu__item {
      @include breakpoint($display-large) {
        background: $wwu-blue;
        border-bottom: 1px solid $wwu-blue-lighter;
        display: block;
        font-weight: normal;
        text-transform: none;
      }
    }

    .menu__item:last-child {
      @include breakpoint($display-large) {
        border-bottom: 0;
      }
    }

    .menu__link,
    .active .menu__link.active {
      @include breakpoint($display-large) {
        color: #fff;
        display: block;
        font-weight: $normal;
        padding: .65em;
        text-align: left;
        white-space: nowrap;
        word-wrap: normal;
      }

      &:hover,
      &:focus {
        @include breakpoint($display-large) {
          background: #fff;
          color: $wwu-blue;
        }
      }
    }

    .expanded > .menu__link {
      padding-right: 0;
    }

    .expanded > .menu__link::after {
      @include transform(translateY(-50%));
      bottom: 0;
      display: table;
      font-weight: bold;
      height: 1ex;
      line-height: 1ex;
      position: absolute;
      right: .5em;
      top: 50%;
      vertical-align: middle;
    }
  }

  .menu .menu .menu {
    left: 100%;
    top: 0;
  }
}
