$light-gray: #ddd;
$transparent-white: rgba(255, 255, 255, .5);

$wwu-light-blue-lighter: desaturate(lighten($wwu-light-blue, 35), 30);
$wwu-blue-lighter: lighten($wwu-blue, 5);

$callout-background-color: #f3f2f2;
$callout-color: #3f3f3f;

$event-action-button-bottom-border-color: #ccc;
